.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 20px auto;
}

.adverb {
	background-color: #54ADE5;/*#04abe3;*/
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
	display: inline-block;
}

#words {
	width: 500px;
	height: 300px;
}