*.aux
*.log
*.pdf
*.backup
cogsci_template*
CogSci_Template*
*.bbl
*.blg
*/mturk
*/*/mturk
*/*/*/mturk
*.results
*.RData
*.Rhistory
*.RData
*.Rhistory
*/*/analysis/*.html
*.out
experiments/*/*/*.png
experiments/*/*.png
experiments/*/*/*.jpg
experiments/*/*.jpg
writeup/analysis_files_for_writeup/*.html
*.zip
analysis/*
old-intensifiers/*
*.pdf