*.aux
*.log
*.backup
*.bbl
*.blg
*/mturk
*/*/mturk
*/*/*/mturk
*.results
*.RData
*.Rhistory
*.RData
*.Rhistory
*/*/analysis/*.html
*.out
writeup/analysis_files_for_writeup/*.html
*.zip
old-intensifiers/*