*.aux
*.log
*.backup
*.bbl
*.blg
*.out
*.results
*.RData
*.Rhistory
*.RData
*.Rhistory
*.zip
*/mturk
*/*/mturk
*/*/*/mturk
old-intensifiers
local_notes
cache
data-collection
data/data-collection
*.DS_Store
*_files/
*_cache/
